.side-stick-ph {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: red
}
.side-stick-pl {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: green
}
.side-stick-pm {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: blue
}
